* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 1rem;
    padding-left: 5% !important;
    margin-right: auto;
    margin-left: auto;
} 
#doctor-img {
    width: 100%;
    height: 250px;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-gap: 0rem 6rem;
    margin-left: 18%;
}

.d-block {
    color: #f9f9f9 !important;
}
.card {
    width: 300px;
    height: 400px;
    background: radial-gradient(ellipse at bottom, #8dcdf9 0%, #322835 100%);
    box-shadow: 0 0 20px #00000070;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 5rem auto;
    transition: transform 0.3s;
}

    .card:hover {
        transform: translateY(-0.5rem) scale(1.03);
    }

.top-section {
    position: relative;
}

.name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 25px;
    color: #fff;
    line-height: 1.3;
    opacity: 0.8;
}

    .name span {
        background: #333;
        padding: 0 5px;
    }

        .name span:last-of-type {
            text-transform: uppercase;
            font-weight: 300;
        }

.info-section {
    /*padding: 0 40px 40px;*/
    color: #fff;
    opacity: 0.8;
}

#filterButton {
    margin-top: 1%;
    margin-left: 40%;
    width: 200px;
}

p {
    text-align: center;
    margin-bottom: 0rem !important;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

    .social a {
        font-size: 20px;
        color: linear-gradient(135deg, #ff57b9 0%, #a704fd 100%);
        transition: all 0.4s;
    }

        .social a:hover {
            color: #fff;
        }

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*Filtre*/

.inner-wrap {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-gap: 0rem 1rem;
    display: grid;
    margin-left: 3%;
}
#accordion_search_bar_container {
    position: relative;
}

    #accordion_search_bar_container:after {
        content: "\e003";
        font-family: 'Glyphicons Halflings';
        width: 18px;
        height: 18px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

#accordion_search_bar {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid black; /* Replace $grey with the desired color value */
    border-radius: 25px;
    outline: 0;
}


