body,
html {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans MT", Arial, sans-serif;
}
/* header styling */
.headnugg img {
    position: absolute;
    top: -5em;
    min-width: 100%;
    min-height: 40em;
}

.headnugg figcaption {
    font-size: 120%;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 0.5em 1em;
    right: 0;
}

figure.headnugg {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30em;
    overflow: hidden;
}

/* header styling END */

/* review styling */

.review,
form {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1em;
}

.rating {

    flex-direction: row-reverse;
}
.rating-0 {
    filter: grayscale(100%);
}

.rating > input {
    display: none;
}

.rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: 0.3s;
    margin-right:3%;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

/* //////////*/
h1, h2, tr, label, h3, h5, p {
    color:black;
}
#review-button{
    margin-top:3%;
}
#store-review {
    clear: both;
    padding: 35px 0;
}

.store-review-container {
    position: relative;
    margin-top: 10px;
}

ul#comment-review-filter {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

    ul#comment-review-filter li {
        list-style-type: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

        ul#comment-review-filter li a {
            padding: 10px 15px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

            ul#comment-review-filter li a:hover {
                border: 1px solid #3498DB;
                color: #3498DB !important;
            }

        ul#comment-review-filter li.active a {
            background: #3498DB;
            color: #fff !important;
        }

.comment-review-filter-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    padding: 12px 20px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease;
}

    .comment-review-filter-item:hover {
        border: 1px solid #3498DB;
        color: #3498DB;
    }

    .comment-review-filter-item.active {
        background: #3498DB;
        color: #fff;
    }

.comment-review-item {
    position: relative;
    padding: 20px 0;
    padding-left: 110px;
    border-bottom: 1px solid #000000;
}

.commenter-img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 90px;
    height: 90px;
    border: 1px solid #ddd;
}

.review-title {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 600;
}

.commenter-name-container {
    font-size: 14px;
    /*color: #bbb;*/
}

.review-date {
    font-size: 14px;
    font-style: italic;
}

.review-content {
    margin-top: 5px;
    line-height: 1.5;
}

.review-footer {
    position: relative;
}

.write-a-review-btn {
    position: absolute;
    top: -10px;
    right: 0;
    width: 150px;
    height: 40px;
    background: #3498DB;
    color: #fff;
    border: none;
    transition: .3s ease;
}

    .write-a-review-btn:hover {
        background: #2980B9;
    }