<head>
  <link rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link src="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet"/>
  <link  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff" rel="stylesheet"/>
  <link rel="stylesheet" href="~/css/dashboard.css"/>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
   <script href="~/js/admin/dashboard.js" ></script>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

</head>
<section class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <nav class="page-breadcrum" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="DoctorAccount" asp-action="GetPacients"> Pacientii mei </a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Dashboard Pacient </li>

                    </ol>
            </div>
        </div>
</section>
  <main>
    <div class="row" >
      <div class="col s6" >
                <div style="padding: 35px;box-shadow: 0 0.40rem 0.75rem rgb(241 0 44);background: radial-gradient(ellipse at bottom, #f7f7f7 0%, #2f6196 100%);" align="center" class="card">
          <div class="row">
    
          </div>

          <div class="row">
                        <a asp-controller="MedicalReports" asp-action="ViewPacientMedicalHistory" asp-route-id="@ViewData["UserId"]">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <span class="indigo-text text-lighten-1"><h5>Istoric Medical</h5></span>
              </div>
            </a>
            <div class="col s1">&nbsp;</div>
            <div class="col s1">&nbsp;</div>
          </div>
        </div>
      </div>

      <div class="col s6">
                <div style="background: radial-gradient(ellipse at bottom, #f7f7f7 0%, #2f6196 100%); padding: 35px; box-shadow: 0 0.40rem 0.75rem rgb(241 0 44);" align="center" class="card">
   
          <div class="row">
            <a asp-controller="DoctorAccount" asp-action="GetJournalPagesForDoctor" asp-route-id="@ViewData["UserId"]">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <span class="indigo-text text-lighten-1"><h5>Jurnal Pacient</h5></span>
              </div>
            </a>

            <div class="col s1">&nbsp;</div>
            <div class="col s1">&nbsp;</div>

          </div>
        </div>
      </div>
    </div>

  </main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
